<div class="container mt-4">
  <h1>Schaden-Meldungs Service</h1>
  <div class="btn-group mt-4" role="group">
    <button routerLink="/cases" type="button" [className]="route.url === '/cases' ? 'active btn btn-primary' : 'btn btn-primary'">Bisher gemeldete Fälle</button>
    <button routerLink="/cases/add" type="button" [className]="route.url === '/cases/add' ? 'active btn btn-primary' : 'btn btn-primary'">Neuen Fall Melden</button>
  </div>
</div>
<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
