<div class="mt-4">
  <h4>Neuen Schadenfall melden</h4>

  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" class="col-md-6">
    <div class="form-group">
      <label>Unfalldatum</label>
      <div class="input-group">
        <input
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="unfallDatum"
          [(ngModel)]="model.unfallDatum"
          ngbDatepicker
          #d="ngbDatepicker"
          required
        />
        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">Wählen</button>
      </div>
    </div>
    <div class="form-group">
      <label>Suva Kundennummer</label>
      <input type="text" name="suvaKundenNr" class="form-control" [(ngModel)]="model.suvaKundenNr" required>
    </div>
    <div class="form-group">
      <label>Vorname</label>
      <input type="text" name="vorname" class="form-control" [(ngModel)]="model.vorname" required>
    </div>
    <div class="form-group">
      <label>Nachname</label>
      <input type="text" name="nachname" class="form-control" [(ngModel)]="model.nachname" required>
    </div>
    <div class="form-group">
      <label>Geburtsdatum</label>
      <div class="input-group">
        <input
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="geburtsdatum"
          [(ngModel)]="model.geburtsdatum"
          ngbDatepicker
          #e="ngbDatepicker"
          required
        />
        <button class="btn btn-outline-secondary" (click)="e.toggle()" type="button">Wählen</button>
      </div>
    </div>
    <div class="form-group">
      <label>Beschreibung</label>
      <textarea class="form-control" rows="3" name="description" class="form-control" [(ngModel)]="model.description" required></textarea>
    </div>
    <div class="form-group mt-4">
      <button type="submit" class="btn btn-primary">Meldung einreichen</button>
    </div>
  </form>

</div>
