<div class="mt-4">
  <h4>Ihre bisher gemeldeten Schadenfälle</h4>
  <ul class="mt-4 mb-4">
    <li *ngFor="let schadenfall of schadenfaelle">
      <b>{{ schadenfall.unfallDatum }}:</b> {{ schadenfall.nachname }}, {{ schadenfall.nachname }} ({{ schadenfall.geburtsdatum }})
    </li>
  </ul>
  <button type="button" class="btn btn-primary" (click)="refreshList()">Aktualisieren</button>
</div>
